@import '../../styles/color_varaibles';

.dashboard {
    .custom-toggle__div {
        border: 0.4px solid #055cc11a;
        display: flex;
        border-radius: 5px;
        width: 355px;
        margin: 0 auto;
        background-color: $white;

        .items-div {
            padding: 15px 30px;
        }

        .selected-toggle {
            background-color: $dark;
            color: $primary-color;
        }
    }
}