.dashboard-card {
    .icon-div {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
    }

    .ufo-icon {
        path.a {
            fill: #5085F7 !important;
        }
    }

    .people-icon {
        path.a {
            fill: #32348B !important;
        }
    }

    .taxi-icon {
        path.a {
            fill: #EE7C42 !important;
        }
    }

    .species-icon {
        path.a {
            fill: #32348B !important;
        }
    }
}