@import '../styles/color_varaibles';

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F8F8F8 !important;
}

.app-content {
    padding: 30px;
}

.cursor {
    cursor: pointer;
}

p {
    font-size: 15px;
}

.navigation-div {
    background-color: #dedede;
    color: $dark;
    border-radius: 25px;
    padding: 10px 20px;
}