.card-component {
    .custom-card {
        background-color: #fff;
        border: 0.4px solid #055cc11a;
        border-radius: 7px;
    }
    .card-box__shadow {
        box-shadow: 0px 8px 70px #0000000d
    }
}
